
<html>
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>

  <header>
      <div class="container">
          <h2>
              Servicio - CC - Hito 6 - Antonio David López Machado
          </h2>
      </div>
  </header>

  <div class="container">
      <h3>Patch principales del servicio</h3>
      <ul>
        <li>
          <b>/object3d</b>
          <ul>
            <li> <b>GET</b> -> Obtiene todos los objetos 3d del sistema</li>
            <li> <b>POST</b> -> Crea un nuevo objeto 3d en el sistema</li>
          </ul>
        </li>
        <hr>
        <li>
          <b>/object3d/fileName</b>
          <ul>
            <li> <b>GET</b> -> Obtiene el objetos 3d con el nombre especificado</li>
            <li> <b>POST</b> -> Actualiza la información de un objetos 3d</li>
            <li> <b>DELETE</b> -> elimina el objeto 3d con el nombre especificado</li>
          </ul>
        </li>
        <hr>
        <li>
          <b>/status</b>
          <ul>
            <li> Devuelve el estado del servicio</li>
          </ul>
        </li>
      </ul>
  </div>


  <footer>
  </footer>

</body>
</html>
